In [1]:
!wget http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Grocery_and_Gourmet_Food.json.gz

Redirecting output to ‘wget-log’.

In [2]:
!wget http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Movies_and_TV_5.json.gz

Redirecting output to ‘wget-log.1’.

In [0]:
import pandas as pd
import gzip

def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield eval(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

df = getDF('reviews_Grocery_and_Gourmet_Food.json.gz')
data = getDF('reviews_Movies_and_TV_5.json.gz')

In [4]:
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A1ZQZ8RJS1XVTX,0657745316,gsxrgirl,"[0, 0]","No sugar, no GMO garbage, no fillers that come...",5.0,Best vanilla I've ever had,1381449600,"10 11, 2013"
1,A31W38VGZAUUM4,0700026444,FIFA Lvr,"[1, 1]","This is my absolute, undisputed favorite tea r...",5.0,Terrific Tea!,1354752000,"12 6, 2012"
2,A3I0AV0UJX5OH0,1403796890,Alicia b,"[0, 0]",I ordered spongbob slippers and I got John Cen...,1.0,grrrrrrr,1385942400,"12 2, 2013"
3,A3QAAOLIXKV383,1403796890,"Danny K. Tilley ""Dan Tilley""","[0, 0]",The cart is fine and works for the purpose for...,3.0,Storage on Wheels Cart,1307836800,"06 12, 2011"
4,AB1A5EGHHVA9M,141278509X,CHelmic,"[1, 1]",This product by Archer Farms is the best drink...,5.0,The best drink mix,1332547200,"03 24, 2012"

In [5]:
data.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,ADZPIG9QOCDG5,0005019281,"Alice L. Larson ""alice-loves-books""","[0, 0]",This is a charming version of the classic Dick...,4.0,good version of a classic,1203984000,"02 26, 2008"
1,A35947ZP82G7JH,0005019281,Amarah Strack,"[0, 0]",It was good but not as emotionally moving as t...,3.0,Good but not as moving,1388361600,"12 30, 2013"
2,A3UORV8A9D5L2E,0005019281,Amazon Customer,"[0, 0]","Don't get me wrong, Winkler is a wonderful cha...",3.0,Winkler's Performance was ok at best!,1388361600,"12 30, 2013"
3,A1VKW06X1O2X7V,0005019281,"Amazon Customer ""Softmill""","[0, 0]",Henry Winkler is very good in this twist on th...,5.0,It's an enjoyable twist on the classic story,1202860800,"02 13, 2008"
4,A3R27T4HADWFFJ,0005019281,BABE,"[0, 0]",This is one of the best Scrooge movies out. H...,4.0,Best Scrooge yet,1387670400,"12 22, 2013"

In [6]:
!pip install gender_guesser

Collecting gender_guesser
  Downloading https://files.pythonhosted.org/packages/13/fb/3f2aac40cd2421e164cab1668e0ca10685fcf896bd6b3671088f8aab356e/gender_guesser-0.4.0-py2.py3-none-any.whl (379kB)
    100% |████████████████████████████████| 389kB 24.4MB/s
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0

In [0]:
df['first_name'] = df['reviewerName'].str.split(' ', expand=True)[0]
data['first_name'] = data['reviewerName'].str.split(' ', expand=True)[0]

In [0]:
df['first_name'] = df.first_name.str.capitalize()
data['first_name'] = data.first_name.str.capitalize()

In [0]:
df.head(5)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,first_name
0,A1ZQZ8RJS1XVTX,0657745316,gsxrgirl,"[0, 0]","No sugar, no GMO garbage, no fillers that come...",5.0,Best vanilla I've ever had,1381449600,"10 11, 2013",Gsxrgirl
1,A31W38VGZAUUM4,0700026444,FIFA Lvr,"[1, 1]","This is my absolute, undisputed favorite tea r...",5.0,Terrific Tea!,1354752000,"12 6, 2012",Fifa
2,A3I0AV0UJX5OH0,1403796890,Alicia b,"[0, 0]",I ordered spongbob slippers and I got John Cen...,1.0,grrrrrrr,1385942400,"12 2, 2013",Alicia
3,A3QAAOLIXKV383,1403796890,"Danny K. Tilley ""Dan Tilley""","[0, 0]",The cart is fine and works for the purpose for...,3.0,Storage on Wheels Cart,1307836800,"06 12, 2011",Danny
4,AB1A5EGHHVA9M,141278509X,CHelmic,"[1, 1]",This product by Archer Farms is the best drink...,5.0,The best drink mix,1332547200,"03 24, 2012",Chelmic

In [0]:
data.head(5)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,first_name
0,ADZPIG9QOCDG5,0005019281,"Alice L. Larson ""alice-loves-books""","[0, 0]",This is a charming version of the classic Dick...,4.0,good version of a classic,1203984000,"02 26, 2008",Alice
1,A35947ZP82G7JH,0005019281,Amarah Strack,"[0, 0]",It was good but not as emotionally moving as t...,3.0,Good but not as moving,1388361600,"12 30, 2013",Amarah
2,A3UORV8A9D5L2E,0005019281,Amazon Customer,"[0, 0]","Don't get me wrong, Winkler is a wonderful cha...",3.0,Winkler's Performance was ok at best!,1388361600,"12 30, 2013",Amazon
3,A1VKW06X1O2X7V,0005019281,"Amazon Customer ""Softmill""","[0, 0]",Henry Winkler is very good in this twist on th...,5.0,It's an enjoyable twist on the classic story,1202860800,"02 13, 2008",Amazon
4,A3R27T4HADWFFJ,0005019281,BABE,"[0, 0]",This is one of the best Scrooge movies out. H...,4.0,Best Scrooge yet,1387670400,"12 22, 2013",Babe

In [0]:
import gender_guesser.detector as gender
d = gender.Detector()

In [0]:
df['gender'] = [d.get_gender(str(first_name)) for first_name in df['first_name']]
data['gender'] = [d.get_gender(str(first_name)) for first_name in data['first_name']]

In [12]:
df.head(5)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,first_name,gender
0,A1ZQZ8RJS1XVTX,0657745316,gsxrgirl,"[0, 0]","No sugar, no GMO garbage, no fillers that come...",5.0,Best vanilla I've ever had,1381449600,"10 11, 2013",gsxrgirl,unknown
1,A31W38VGZAUUM4,0700026444,FIFA Lvr,"[1, 1]","This is my absolute, undisputed favorite tea r...",5.0,Terrific Tea!,1354752000,"12 6, 2012",FIFA,unknown
2,A3I0AV0UJX5OH0,1403796890,Alicia b,"[0, 0]",I ordered spongbob slippers and I got John Cen...,1.0,grrrrrrr,1385942400,"12 2, 2013",Alicia,female
3,A3QAAOLIXKV383,1403796890,"Danny K. Tilley ""Dan Tilley""","[0, 0]",The cart is fine and works for the purpose for...,3.0,Storage on Wheels Cart,1307836800,"06 12, 2011",Danny,male
4,AB1A5EGHHVA9M,141278509X,CHelmic,"[1, 1]",This product by Archer Farms is the best drink...,5.0,The best drink mix,1332547200,"03 24, 2012",CHelmic,unknown

In [13]:
data.head(5)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,first_name,gender
0,ADZPIG9QOCDG5,0005019281,"Alice L. Larson ""alice-loves-books""","[0, 0]",This is a charming version of the classic Dick...,4.0,good version of a classic,1203984000,"02 26, 2008",Alice,female
1,A35947ZP82G7JH,0005019281,Amarah Strack,"[0, 0]",It was good but not as emotionally moving as t...,3.0,Good but not as moving,1388361600,"12 30, 2013",Amarah,unknown
2,A3UORV8A9D5L2E,0005019281,Amazon Customer,"[0, 0]","Don't get me wrong, Winkler is a wonderful cha...",3.0,Winkler's Performance was ok at best!,1388361600,"12 30, 2013",Amazon,unknown
3,A1VKW06X1O2X7V,0005019281,"Amazon Customer ""Softmill""","[0, 0]",Henry Winkler is very good in this twist on th...,5.0,It's an enjoyable twist on the classic story,1202860800,"02 13, 2008",Amazon,unknown
4,A3R27T4HADWFFJ,0005019281,BABE,"[0, 0]",This is one of the best Scrooge movies out. H...,4.0,Best Scrooge yet,1387670400,"12 22, 2013",BABE,unknown

In [14]:
print(df['gender'].value_counts())

unknown          735889
female           284471
male             209385
mostly_female     37577
mostly_male       19232
andy              10602
Name: gender, dtype: int64

In [15]:
print(data['gender'].value_counts())

unknown          900331
male             505563
female           205240
mostly_female     40699
mostly_male       34872
andy              10828
Name: gender, dtype: int64

In [0]:
df1 = df.loc[df['gender'].isin(['male','female'])]
df2 = data.loc[data['gender'].isin(['male','female'])]

In [31]:
df2['gender_encoded'] = df2['gender']
df2['gender_encoded'] = pd.get_dummies(df2['gender_encoded'])
df2.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,first_name,gender,gender_encoded
0,ADZPIG9QOCDG5,0005019281,"Alice L. Larson ""alice-loves-books""","[0, 0]",This is a charming version of the classic Dick...,4.0,good version of a classic,1203984000,"02 26, 2008",Alice,female,1
12,AG8D804FUG5Y4,0005019281,"Bud Harris ""Bud 101""","[0, 1]",My wife told me of this movie in which Henry W...,3.0,Christmas,1199836800,"01 9, 2008",Bud,male,0
14,A3VT62AP8KEK3V,0005019281,Carolyn N.,"[1, 1]",Set in the USA about the time of the depressio...,4.0,It's a Christmas Carol,1387497600,"12 20, 2013",Carolyn,female,1
16,A1GQF4JDJXBRLH,0005019281,"Charles A. Hickson ""Chas""","[0, 0]",This is a wonderful movie. It stay faithful to...,5.0,Great Christmas movie for the family,1173312000,"03 8, 2007",Charles,male,0
20,A2Q8O413HJZ55E,0005019281,Clifford J. Carroll,"[0, 2]","We began watching this video, but stopped it a...",2.0,An American Christmas Carol,1378339200,"09 5, 2013",Clifford,male,0

In [40]:
df1['gender_encoded'] = df1['gender']
df1['gender_encoded'] = pd.get_dummies(df1['gender_encoded'])
df1.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,first_name,gender,gender_encoded
2,A3I0AV0UJX5OH0,1403796890,Alicia b,"[0, 0]",I ordered spongbob slippers and I got John Cen...,1.0,grrrrrrr,1385942400,"12 2, 2013",Alicia,female,1
3,A3QAAOLIXKV383,1403796890,"Danny K. Tilley ""Dan Tilley""","[0, 0]",The cart is fine and works for the purpose for...,3.0,Storage on Wheels Cart,1307836800,"06 12, 2011",Danny,male,0
6,A3LZA698SQPCXE,1453060464,"Trevor L ""God is on the side of the army with...","[0, 0]",My wife picked some of this up on sale. I usu...,3.0,Tastes a Bit like Cough Syrup,1374019200,"07 17, 2013",Trevor,male,0
10,A11WU9TYDLB1RG,1613170416,Jon Stoffel,"[3, 3]",And they're pretty nice! One set looks like ic...,4.0,They're dice!,1392163200,"02 12, 2014",Jon,male,0
12,A26LKBXTSIHQV2,1613170416,Timothy Harms,"[0, 0]","As a Dresden Files fan, i just had to get the ...",5.0,Dresden Files!,1398902400,"05 1, 2014",Timothy,male,0

In [41]:
print(df1['gender'].value_counts())
print(df2['gender'].value_counts())

female    284471
male      209385
Name: gender, dtype: int64
male      505563
female    205240
Name: gender, dtype: int64

In [42]:
df3 = df1[['reviewText', 'gender_encoded']]
print(df3.shape)
df3.head(5)

(493856, 2)

                                           reviewText  gender_encoded
2   I ordered spongbob slippers and I got John Cen...               1
3   The cart is fine and works for the purpose for...               0
6   My wife picked some of this up on sale.  I usu...               0
10  And they're pretty nice! One set looks like ic...               0
12  As a Dresden Files fan, i just had to get the ...               0

In [43]:
df4 = df2[['reviewText', 'gender_encoded']]
print(df4.shape)
df4.head(5)

(710803, 2)

                                           reviewText  gender_encoded
0   This is a charming version of the classic Dick...               1
12  My wife told me of this movie in which Henry W...               0
14  Set in the USA about the time of the depressio...               1
16  This is a wonderful movie. It stay faithful to...               0
20  We began watching this video, but stopped it a...               0

In [44]:
final_data = pd.concat([df3, df4], axis=0)
final_data.shape

(1204659, 2)

In [45]:
final_data.head(10)

                                           reviewText  gender_encoded
2   I ordered spongbob slippers and I got John Cen...               1
3   The cart is fine and works for the purpose for...               0
6   My wife picked some of this up on sale.  I usu...               0
10  And they're pretty nice! One set looks like ic...               0
12  As a Dresden Files fan, i just had to get the ...               0
13  Umm, OK everyone reading this review, put this...               0
17  Exactly what is should be.  Tasty and hot! Thi...               1
19     Fast and hot, did I mention hot, well it's hot               0
20  Added a few pinches to cheese sauce and took i...               0
21  The powder is delicious and very spicy as we e...               0

In [47]:
print(final_data['gender_encoded'].value_counts())
#0-male 1-female

0    714948
1    489711
Name: gender_encoded, dtype: int64

In [48]:
sample_data = final_data.sample(n=300000)
sample_data.head(5)

                                                reviewText  gender_encoded
1257919  I got this show at a great price here on amazo...               1
821071   The kids loved these in their goody bags at my...               1
156168   This 1972 production is one of the first films...               0
765838   First off, ignore the hatchet job Fox did if y...               1
293294   Rawhead Rex to put is plain stupid. I even sho...               0

In [50]:
sample_data['gender_encoded'].value_counts()
#0-male 1-female

0    178049
1    121951
Name: gender_encoded, dtype: int64

In [0]:
import nltk
from nltk.corpus import stopwords
from nltk import word_tokenize

In [52]:
nltk.download('punkt')
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [0]:
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
"where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are"
}

In [54]:
import re
ps = nltk.PorterStemmer()
#preprocess the dataset
text = sample_data['reviewText']
def preprocess_text(text,remove_stopwords=True):
    # Convert words to lower case
    text = text.lower()
    # Replace contractions with their longer forms 
    if True:
        # We are not using "text.split()" here
        #since it is not fool proof, e.g. words followed by punctuations "Are you kidding?I think you aren't."
        text = re.findall(r"[\w']+", text)
        new_text = []
        for word in text:
            if word in contractions:
                new_text.append(contractions[word])
            else:
                new_text.append(word)
        text = " ".join(new_text)
    
    # Format words and remove unwanted characters
    text = re.sub(r'https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)# remove links
    text = re.sub(r'\<a href', ' ', text)# remove html link tag
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'[_"\-;%()|+&=*%.,!?:#$@\[\]/]', ' ', text)
    text = re.sub(r'<br />', ' ', text)
    text = re.sub(r'\'', ' ', text)
    
    # Optionally, remove stop words
    if remove_stopwords:
        text = text.split()
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
        text = " ".join(text)

    return text
       
clean_data = sample_data.copy()  
clean_data['reviewText'] = text.apply(preprocess_text) 
clean_data.head()

                                                reviewText  gender_encoded
1257919  got show great price amazon well huge fan show...               1
821071   kids loved goody bags son lego party seller go...               1
156168   1972 production one first films present violen...               0
765838   first ignore hatchet job fox saw firefly airin...               1
293294   rawhead rex put plain stupid even showed movie...               0

In [0]:
x = clean_data['reviewText']
y = clean_data['gender_encoded']

In [56]:
from sklearn.model_selection import train_test_split
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense,GlobalAveragePooling1D
from keras.layers.embeddings import Embedding
from keras.layers import Convolution1D, Flatten, Dropout,MaxPooling1D
from tensorflow.python.keras.preprocessing.text import Tokenizer
import numpy as np

Using TensorFlow backend.

In [57]:
print('Loading data...')
x_train_text, x_test_text, y_train, y_test = train_test_split(
      x, y, test_size=0.2, random_state=42)
# combine text for total corpus for tokenizing later
data_text = x_train_text + x_test_text
top_words = 15000
tokenizer = Tokenizer(num_words=top_words)
tokenizer.fit_on_texts(x)
x_train_tokens  = tokenizer.texts_to_sequences(x_train_text)
x_test_tokens = tokenizer.texts_to_sequences(x_test_text)
num_tokens = [len(tokens) for tokens in x_train_tokens + x_test_tokens]
num_tokens = np.array(num_tokens)
max_tokens = np.mean(num_tokens) + 2 * np.std(num_tokens)
max_tokens = int(max_tokens)
print (max_tokens)
from tensorflow.python.keras.preprocessing.sequence import pad_sequences
pad = 'pre'
x_train_pad = pad_sequences(x_train_tokens, maxlen=max_tokens,
                            padding=pad, truncating=pad)
x_test_pad = pad_sequences(x_test_tokens, maxlen=max_tokens,
                           padding=pad, truncating=pad)
from keras.utils import to_categorical  # Makes "one-hot" encoding from label

y_train_hot = to_categorical(y_train, num_classes=2)
y_test_hot = to_categorical(y_test, num_classes=2)
embedding_size = 150

Loading data...
238

In [58]:
# define model
model = Sequential()
model.add(Embedding(input_dim=top_words,
                    output_dim=embedding_size,
                    input_length=max_tokens,
                    name='layer_embedding'))
model.add(Convolution1D(256, 3, padding='same'))
model.add(Convolution1D(128, 3, padding='same'))
model.add(MaxPooling1D(pool_size=2))
model.add(Convolution1D(64, 3, padding='same'))
model.add(MaxPooling1D(pool_size=2))
model.add(Convolution1D(32, 3, padding='same'))
model.add(MaxPooling1D(pool_size=2))
model.add(Convolution1D(16, 3, padding='same'))
model.add(MaxPooling1D(pool_size=2))
model.add(Convolution1D(8, 3, padding='same'))
model.add(Convolution1D(8, 3, padding='same'))
model.add(Flatten())
model.add(Dropout(0.1))
model.add(Dense(180,activation='relu'))
#model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(x_train_pad, y_train, epochs=2, batch_size = 256)
# Evaluation on the test set
scores = model.evaluate(x_test_pad, y_test, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

Epoch 1/2
240000/240000 [==============================] - 85s 354us/step - loss: 0.5550 - acc: 0.7107
Epoch 2/2
240000/240000 [==============================] - 82s 342us/step - loss: 0.5198 - acc: 0.7398
Accuracy: 72.24%